altgraph==0.17.4
-e git+https://${GITHUB_TOKEN}@github.com/feature-creeper/aurachat-app.git@643f85d33a538b315c376580ebac83a3af5c2f5a#egg=aurachat_helper
certifi==2025.1.31
charset-normalizer==3.4.1
dnspython==2.7.0
idna==3.10
macholib==1.16.3
motor==3.1.1
packaging==25.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pymongo==4.3.3
python-dotenv==1.1.0
requests==2.32.3
sentry-sdk==2.27.0
setuptools==80.3.1
urllib3==2.4.0
